<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="author" content="ckjs"/>
    <meta name="robots" content="noindex, nofollow"/>
    <!--$$edit$$:修改页面标题-->
    <title>角色信息</title>

    <link rel="stylesheet" id="css-bootstrap" th:href="@{/css/bootstrap.css}"></link>
    <link rel="stylesheet" th:href="@{/css/app.css(t=2018003)}"></link>
    <link rel="stylesheet" th:href="@{/css/ionicons.css}"></link>
    <link rel="stylesheet" th:href="@{/css/googlefonts.css}"></link>
    <link rel="stylesheet" th:href="@{/css/ckjs.css(t=2018011)}"></link>

    <!--这里写当前页面特有的CSS格式-->
    <style>
    </style>
</head>

<body class="app-ui layout-has-drawer layout-has-fixed-header">
<div class="app-layout-canvas">
    <div class="app-layout-container">
        <main class="app-layout-content">
            <!--code标志内的部分为要加载到主页框架当中的内容-->
            <code>
                <!--$$edit$$:修改模块标识-->
                <div id="content" th:with="requestname='role'">
                    <!-- Page Content -->
                    <div class="container-fluid p-y-md">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="card">
                                    <div class="card-header">
                                        <!-- $$edit$$:修改页面标题 -->
                                        <h4><strong>角色信息</strong></h4>
                                        <ul class="card-actions ">
                                            <li>
                                                <!--<a class="js-tooltip" title="返回列表" href="/role/list.do"><i-->
                                                        <!--class="ion-android-arrow-back"></i></a>-->
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
                                        <!-- jQuery Validation (.js-validation-material class is initialized in js/pages/base_forms_validation.js) -->
                                        <!-- For more examples please check https://github.com/jzaefferer/jquery-validation -->

                                        <!-- $$edit$$:修改object -->
                                        <form class="js-validation-material form-horizontal m-t-sm"
                                              th:action="${'/'+requestname+'/'+mark+'.do'}" th:object="${role}"
                                              method="post">
                                            <!--隐藏字段，存放新增修改标志，列表查询条件，以及id-->
                                            <input type="hidden" name="mark" th:value="${mark}"/>
                                            <input type="hidden" name="keyword" th:value="${keyword}"/>
                                            <input type="hidden" name="id" th:value="${mark}=='add'?'':*{id}"/>
                                            <!--下拉选择框-->
                                            <div class="form-group">
                                                <div class="col-sm-9">
                                                    <div class="form-material">

                                                        <!--$$edit$$:修改字段id、name,查看时显示文本框，编辑新增时显示下拉选择框-->
                                                        <input class="form-control" type="text" id="roletype"
                                                               name="roletype"
                                                               th:value="${role.roletype}==null?'':${typeMap[role.roletype]}"
                                                               th:if="${mark}=='view'"
                                                               th:attr="isreadonly=(${mark}=='view'?'readonly':'')"/>
                                                        <!-- $$edit$$:修改字段id、name、placeholder、validate、validatemsg，验证规则规范为key:value,key:value……，validate配置验证规则 validatemsg配置提示内容-->
                                                        <select class="form-control" id="roletype" name="roletype"
                                                                th:attr="isreadonly=(${mark}=='view'?'readonly':'')"
                                                                th:unless="${mark}=='view'"
                                                                validate="required:true" validatemsg="required: 请选择角色类型！">
                                                            <option value="" disabled selected>请选择...</option>
                                                            <!--默认加载type类型的选项-->
                                                            <option th:each="typeMap : ${typeMap}"
                                                                    th:value="${typeMap.key}" th:text="${typeMap.value}"
                                                                    th:selected="${mark}=='add'?false:${typeMap.key}==*{roletype}"></option>
                                                        </select>
                                                        <!-- $$edit$$:修改字段名称和for属性 -->
                                                        <label for="roletype">角色类型：</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--文本输入框-->
                                            <div class="form-group">
                                                <div class="col-sm-9">
                                                    <div class="form-material">
                                                        <!-- $$edit$$:修改字段id、name、placeholder、validate、validatemsg，验证规则规范为key:value,key:value……，validate配置验证规则 validatemsg配置提示内容-->
                                                        <input class="form-control" type="text" id="rolename"
                                                               name="rolename" th:value="${mark}=='add'?'':*{rolename}"
                                                               th:placeholder="${mark}=='view'?'':'请输入...'"
                                                               th:attr="isreadonly=(${mark}=='view'?'readonly':'')"
                                                               validate="required:true,minlength:4,maxlength:25" validatemsg="required: 请输入角色名称！,minlength: 字数不能少于4个！,maxlength: 字数不能超过25个！"/>
                                                        <!-- $$edit$$:修改字段名称和for属性 -->
                                                        <label for="rolename">角色名称：</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--多行文本输入框-->
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="form-material">
                                                        <!-- $$edit$$:修改字段id、name、placeholder、validate、validatemsg，验证规则规范为key:value,key:value……，validate配置验证规则 validatemsg配置提示内容-->
                                                        <textarea class="form-control" id="remark" name="remark"
                                                                  rows="1" th:text="${mark}=='add'?'':*{remark}"
                                                                  th:placeholder="${mark}=='view'?'':'请输入...'"
                                                                  th:attr="isreadonly=(${mark}=='view'?'readonly':'')"
                                                                  validate="maxlength:100" validatemsg="maxlength: 字数不能超过100个！"></textarea>
                                                        <label for="remark">角色说明：</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group m-b-0">
                                                <div class="col-xs-12">
                                                    <!--新增、编辑时显示提交按钮-->
                                                    <button class="btn btn-app" type="submit"
                                                            th:unless="${mark}=='view'">提交
                                                    </button>
                                                    <!--查看时显示修改按钮-->
                                                    <a href="/type/toedit.do"
                                                       th:href="'/'+${requestname}+'/'+@{toedit.do(id=*{id},keyword=${keyword})}"
                                                       class="btn btn-app" th:if="${mark}=='view'">修改</a>
                                                    &nbsp; &nbsp; &nbsp;
                                                    <!--查看时可以删除-->
                                                    <a href="/type/delete.do"
                                                       th:href="'/'+${requestname}+'/'+@{delete.do(id=*{id},keyword=${keyword})}"
                                                       class="btn btn-app" th:if="${mark}=='view'"
                                                       confirm="删除后无法恢复，请确定是否删除？">删除</a>

                                                    <!--编辑的时候可以取消编辑，回到查看界面-->
                                                    <a href="/type/view.do"
                                                       th:href="'/'+${requestname}+'/'+@{view.do(id=*{id},keyword=${keyword})}"
                                                       class="btn btn-app" th:if="${mark}=='edit'">取消</a>
                                                    &nbsp; &nbsp; &nbsp;
                                                    <!--返回列表-->
                                                    <a href="#"
                                                       th:href="'/'+${requestname}+'/'+@{list.do(keyword=${keyword})}"
                                                       class="btn btn-app">返回列表</a>
                                                    &nbsp; &nbsp; &nbsp;
                                                    <a href="#"
                                                       th:href="'/'+${requestname}+'/'+@{toempower.do(roleid=*{id})}"
                                                       class="btn btn-app" th:unless="${mark}=='add'">授权</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Forms Validation -->
                            </div>
                            <!-- .col-lg-6 -->
                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
                </div>
            </code>

        </main>
    </div>
</div>


<!-- 加载外部来源js文件 -->
<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/core/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/core/jquery.scrollLock.min.js}"></script>
<script th:src="@{/js/core/jquery.placeholder.min.js}"></script>
<script th:src="@{/js/core/app.js(t=1001)}"></script>
<script th:src="@{/js/core/app.js(t=1001)}"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/pages/base_forms_validation.js(t=1002)}"></script>

<!-- 加载自写js文件 -->
<script th:src="@{/js/index.js(t=20181056)}"></script>
<script th:src="@{/js/ckjs.js(t=2018103)}"></script>



</body>

</html>
