<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ckjs.ssmdemo.dao.PermissionDao">

    <select id="findByItem" resultType="Permission">
        SELECT a.*  FROM t_permission a where a.isdelete = 0 and item=#{item} order by item,a.modifytime desc
    </select>

    <select id="findFromAjax" resultType="Permission">
        SELECT a.*  FROM t_permission a where a.isdelete = 0 and (a.item,a.itemname,a.permission,a.permissionname) LIKE '%' #{keyword} '%' ) order by item,a.modifytime desc
    </select>

    <select id="findByKeyword" resultType="Permission">
         SELECT a.*  FROM t_permission a where a.isdelete = 0 and (concat(a.item,a.itemname,a.permission,a.permissionname) LIKE '%' #{keyword} '%' ) order by item,a.modifytime desc
    </select>

    <select id="findById" resultType="Permission">
        SELECT a.*  FROM t_permission a where a.isdelete = 0 and a.id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Permission">
        insert into t_permission(item,itemname,permission,permissionname,remark,creator,modifier)
        values(#{item},#{itemname},#{permission},#{permissionname},#{remark},#{creator},#{modifier})
    </insert>

    <update id="update" parameterType="Permission" >
        update t_permission set item=#{item},itemname=#{itemname},permission=#{permission},permissionname=#{permissionname},remark=#{remark},modifier=#{modifier} where id=#{id}
    </update>

    <update id="delete" parameterType="Permission" >
        update t_permission set isdelete=1,modifier=#{modifier} where id=#{id}
    </update>

</mapper>